<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!--Google fonts for Work Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="fixed-background"  style="background-image: url('./assets/images/epsilon-banner.webp');"></div>

    <!--NAVIGATION BAR-->
    <nav>
        <ul id="nav-bar" class="nav-bar">
          <!--Top of Page-->
            <li><a href="#">Home</a></li>

            <!--About main-content-->
            <li>
            <a href="#">About</a>
            <ul class="dropdown">
              <li><a href="#introduction">The Epsilon-3</a></li>
              <li><a href="#epsilon-3-features">Our Features</a></li>
              <li><a href="#epsilon-3-options">Our Options</a></li>
              <li><a href="#epsilon-3-prices">Our Prices</a></li>
            </ul>
            </li>

            <!--Contact Us-->
            <li><a href="#contact-us">Contact Us</a></li>

            <!--Image gallery-->
            <li><a href="#gallery">Image Gallery</a></li>
        </ul>
    </nav>

    <!--SITE HEADER-->
    <header class="custom-header" role="banner">
        <div class="header-content">
            <h1 id="title">The Epsilon-3</h1>
            <h2 id="tagline">Your ride to the future is here</h2>
        </div>
    </header>

    <main id="content" class="main-custom" role="main">

    <!--EPSILON-3 INTRODUCTION SECTION-->
    <section id="introduction" class="content-section">

      <div class="content">

        <!--Left-Hand Image Block-->
        <div class="image-content image-content-left">
          <img src="./assets/images/epsilon-left.webp">
        </div>

        <!--Middle Text Block-->
        <div class="text-content">
          <h1><strong>Redefine Driving: The Epsilon-3</strong></h1>
          <p>
            Introducing <strong>The Epsilon-3</strong>, the future of driving redefined. With its sleek, 
            aerodynamically perfect design and advanced technology, the Epsilon-3
            is not just a car but a statement. Fitted with a revolutionary engine,
              this machine weds raw speed with unmatched style as it slices through the city streets
              and open highways with the quiet hum of things to come.</p>
        </div>

        <!--Right-Hand Image Block-->
        <div class="image-content image-content-right">
          <img src="./assets/images/epsilon-right.webp">
        </div>

      </div>
    </section>

    <!--EPSILON-3 OPTIONS SECTION-->
    <section id="epsilon-3-features" class="content-section feature-section">
      <h1><strong>Epsilon-3 Features</strong></h1>

      <div class="content">

        <!--Image-Text Block 1-->
        <div class="image-text-block">
          <div class="image-content">
            <img src="./assets/images/feature-1.webp">
          </div>
          <div class="text-content">
            <h2><strong>Precision-Engineered Wheels</strong></h2>
            <p>Designed for superior grip, ensuring stability at high speeds and smooth handling on all terrains.</p>
          </div>
        </div>

        <!--Image-Text Block 2-->
        <div class="image-text-block">
          <div class="image-content">
            <img src="./assets/images/feature-2.webp">
          </div>
          <div class="text-content">
            <h2><strong>Unreal Power Realized</strong></h2>
            <p>Turbocharged V8 engine delivering exhilarating power and speed.</p>
          </div>
        </div>

        <!--Image-Text Block 3-->
        <div class="image-text-block">
          <div class="image-content">
            <img src="./assets/images/feature-3.webp">
          </div>
          <div class="text-content">
            <h2><strong>Unmatched Pressence</strong></h2>
            <p>Crafted with sleek lines and an aerodynamic silhouette for optimal performance and style.</p>
          </div>
        </div>

      </div>
    </section>

    <!--EPSILON-3 OPTIONS SECTION-->
    <section id="epsilon-3-options" class="content-section feature-section">
      <h1><strong>Epsilon-3 Color Options</strong></h1>

      <div class="content">

        <!--Image-Text Block 1-->
        <div class="image-text-block">
          <div class="image-content">
            <img src="./assets/images/color-1.webp">
          </div>
          <div class="text-content">
            <h2><strong>Crimson-Storm</strong></h2>
            <p><strong>Outrun the storm.</strong> An intense crimson red blends with a deep ocean blue to create Crimson-Storm.</p>
          </div>
        </div>

        <!--Image-Text Block 2-->
        <div class="image-text-block">
          <div class="image-content">
            <img src="./assets/images/color-2.webp">
          </div>
          <div class="text-content">
            <h2><strong>Sunset-Overdrive</strong></h2>
            <p><strong>Bring the beach wherever you go.</strong> Vibrant coral blends seamlessly with a soft peach to create Sunset-Overdrive.</p>
          </div>
        </div>
        
        <!--Image-Text Block 3-->
        <div class="image-text-block">
          <div class="image-content">
            <img src="./assets/images/color-3.webp">
          </div>
          <div class="text-content">
            <h2><strong>Crimson-Charcoal</strong></h2>
            <p><strong>Leave your mark on the streets.</strong> Bold crimson red merges with sleek charcoal black to create crimson-charcoal.</p>
          </div>
        </div>

      </div>
    </section>

    <!--EPSILON-3 PRICES SECTION-->
    <section id="epsilon-3-prices" class="content-section image-text">

      <div class="content">

        <!--Left-Hand Image Block-->
        <div class="image-content image-content-left">
          <img src="./assets/images/price-left.webp">
        </div>

        <!--Middle Text Block-->
        <div class="text-content">
          <h1><strong>Epsilon-3 Prices</strong></h1>
          <p>
            <strong>Fantastic News!</strong> 
            Due to the incredible success of <strong>The Epsilon-3</strong>, 
            we have begun production on <strong>The EPSILON-4</strong>.
            As a thank you to our valued customers for making this possible,
            we are having a <strong>MASSIVE</strong> sale on all <strong>Epsilon-3</strong>
            models!</p>
              <p>Starting today, all <strong>Epsilon-3</strong> color options are available at 
              the extremely low price of <strong>1 DOLLAR!</strong>
              <small><i>While supplies last.</i></small></p>
        </div>

        <!--Right-Hand Image Block-->
        <div class="image-content image-content-right">
          <img src="./assets/images/sale.webp">
        </div>
      </div>
    </section>

    <!--CONTACT FORM SECTION-->
    <div id="contact-us" class="form-container">
      <h1><strong>We're Always Here to Help!</strong></h1>
      <h2>Contact Us</h2>
      <div id="message-sent">
        Message has been sent!
      </div>
      <form id="contact-form" action="#" method="">

        <!--Name form field-->
        <div class="form-field">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>

        <!--Email form field-->
        <div class="form-field">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>

        <!--User message form field-->
        <div class="form-field">
          <label for="user-message">Your Message:</label>
          <textarea id="user-message" name="user-message" required></textarea>
        </div>

        <!--Submit button-->
        <button type="button" id="send">Send!</button>
      </form>

    </div>



    <!--EPSILON-3 IMAGE GALLERY -->
    <h1><strong>The Epsilon-3 Slide-Show Gallery</strong></h1>
    <div id="gallery" class="slideshow-container">
    
      <!--Slide 1-->
      <div class="slides">
        <img src="./assets/images/gallery-img-1.webp">
      </div>

      <!--Slide 2-->
      <div class="slides">
        <img src="./assets/images/gallery-img-2.webp">
      </div>

      <!--Slide 3-->
      <div class="slides">
        <img src="./assets/images/gallery-img-3.webp">
      </div>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot-indicator"></span> 
      <span class="dot-indicator"></span> 
      <span class="dot-indicator"></span> 
    </div>



    </main>

    <!--Importing JavaScript-->
    <script src="assets/js/script.js"></script>
</body>
</html>